!!!
%html
  %head
    = render 'layouts/head'
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navigation'
    .application-container
      = render 'layouts/messages'
      = yield

    %footer.footer
      .container
        -#%small.muted= app_version
